# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bak

# Python bytecode caches
__pycache__/
*.py[cod]

# jetbrains
.idea

# go workspace
go.work
go.work.sum
data

# agent
./.claude
./.spec-workflow
.ace-tool/
